{% load static %}
<header>
	<nav >
		<img src="{% static 'images/Log.png' %}" alt="logo" id="logo" />
		<div id="menu">
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">snacks</a></li>
			</ul>
			
		</div>
		<i id="open" class="ri-pause-large-line text-[35px] rotate-90 p-[25px] cursor-pointer"></i>
	</nav>

	<div id="d-menu">
		<ul id="stag">
			<li><a href="#">home</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">snacks</a></li>
		</ul>
		
		<i id="close" class="ri-close-large-fill text-[35px] cursor-pointer"></i>
	</div>
</header>
